<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
    <h5 class="my-0 mr-md-auto font-weight-normal">Laravel Angular Target IT Locação de Salas APP</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" routerLink="/profile" *ngIf="isSignedIn">User Profile</a>
        <a class="p-2 text-dark" *ngIf="!isSignedIn" routerLink="/login">Log in</a>
        <a class="p-2 text-dark" routerLink="/register">Register</a>
    </nav>
    <button class="btn btn-outline-primary" (click)="signOut()" *ngIf="isSignedIn">Log out</button>
</div>

<div class="container-md" style="padding: 50px; margin-top: 20px;">
    <router-outlet></router-outlet>
</div>